body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #222;
    font-family: 'Gentium Plus', serif;
    /* background-image: url('/dakota-roos-u7ldh_tgH3s-unsplash.jpg'); */
    background-image: url("https://source.unsplash.com/1600x900/?landscapes");
    font-size: 120%;
}

.card{
    background: #000000d0;
    color: white;
    padding: 1em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;

}

button{
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    background: #7c7c7c2b;
    color: white;

}

input{
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background-color: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 120%;
}


button:hover{
    background: #7c7c7c6b;
}

h1.temp{
    margin: 0;
}

.description{
    text-transform: capitalize;
}

.flex {
    display: flex;
    align-items: center;
}

.weather.loading {
    visibility: hidden;
    max-height: 20px;
}

.weather.loading:after{
    visibility: visible;
    content: "Loading";
    color: white;

}